elm2-button
  width: fit-content

button.elm2
  height: 100%
  --radius:var(--elm2-default-radius)
  padding: 12px 16px
  font-size: 16px
  border: none
  box-shadow: 0 0 0 0px var(--elm2-test-sub)
  transition: all 0.3s var(--elm2-default-bezier), position 0s
  opacity: 1
  background: unset

  &:hover
    box-shadow: 0 0 0 2px var(--elm2-test-sub)
    --radius:var(--elm2-default-radius)
    padding: 12px 16px
    font-size: 16px
    background: unset

  &:active
    opacity: 0.9

  &[primary]
    background: unset
    box-shadow: 0 0 0 0px var(--elm2-test-sub)

    &:hover
      background: unset
      box-shadow: 0 0 0 2px var(--elm2-test-sub)

    &:active
      background: unset

  &[big]
    padding: 16px
    font-size: 20px

  &[disabled]
    box-shadow: none !important
    opacity: 0.8 !important
